<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritng Assessment</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <ul>
                <li><a href="https://github.com/rrsingh11/SW-F10">Github</a></li>
                <li><a href="/task">About</a></li>
                <li><a href="/upload">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div class="hsa">
                <h1>Handwriting Assessment Tool</h1>
            </div>
            <a href="/task"><button class="gs"><span class="bt"> Get Started</span></button></a>
        </section>

        <!-- <section id="about">
            <div>
                <img src="/assets/hero.png" class="hero" alt="">
            </div>
            <div>

            </div>
        </section> -->
    </main>

</body>
</html>